
#dark-mode-toggle {
    position: fixed;
    bottom: 3%;
    right: 1%;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

body.dark-mode {
    background-color: #1a1a1a; /* Dark background color */
    color: #f2f2f2; /* Light text color */
}
body.p.dark-mode{
  color: #f2f2f2; /* Light text color */
}

/* Default text color */
.dark-mode-class {
  color: black; /* Default text color */
}

/* Dark mode text color */
.dark-mode .dark-mode-class {
  color: #f2f2f2; /* Text color when dark mode is activated */
}





.container.dark-mode {
    background-color: #333333;
}

  .navbar.dark-mode{
    overflow: hidden;
    background-color: #443043;
    font-family: Arial;
    display: flex; 
    justify-content: center; 
  }



