*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Header setting */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #418d6d;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2.5%;
    text-align: center;
}

/*-----------------------------------*/
/* List setting */
nav ul li a:hover {
    color: #000; 
    font-weight: bold; 
}

nav {
    background-color: #d6d6d6;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10%;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

ul {
    margin-top: 2.5%;
    margin-bottom: 10%;
}

li {
    margin-bottom: 5%;
}

/*-----------------------------------*/
/* Container for body word */
.container {
    max-width: 80%;
    margin: 2.5% auto;
    padding: 2.5%;
    background-color: #fff;
    border-radius: 5px;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    color: #941975;
}

h2 {
    color: #ac5656;
}

h3 {
    color: #56ac7d;
}

p {
    line-height: 1.4;
    color: #494242;
}

/*---------------------------------*/
/* Display Graph Decoration*/
.feature {
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}

.feature-item {
    flex-basis: 45%;
    text-align: left;
    padding: 2.5%;
    background-color: #cec2c2;
    border-radius: 0px; 
    margin: 5% 7.5%;
}

.feature-item h3 {
    color: hwb(302 43% 27%);
}

.feature-item p {
    color: #777;
}

/*----------------------------------*/
/*Video and Images setting */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin:  auto;
}

video {
    width: 100%;
    height: auto;
}

/*--------------------------------*/
/* Link box setting and Text Link*/
.box {
    display: inline-block;
    background-color: #ad7070;
    padding: 2.5%;
    border-radius: 5px;
    text-align: left;
    margin-top: 5%;
}

.box a {
    text-decoration: none; 
}

/*-----------------------------------*/
/* Footer Setting */
footer {
    background-color: #242121;
    color: #fff;
    padding: 0;
    text-align: center;
    position: relative;
    width: 100%;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
/*-----------------------------------*/
/*comment setting*/
.comment-section {
    max-width: 80%;
    margin: 2.5% auto;
    padding: 2.5%;
    background-color: #fff;
    border-radius: 5px;
}

#comment {
    margin: 2.5% 0;
    width: 95%; 
    height: 10%;
    padding: 2.5%; 
}

#name,
#email,
#website {
    padding: 2.5%;
    margin-right: 2.5%; 
    display: inline-block; 
}

#comment-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 2.5% 5%;
    margin-top: 5%;
}

#table1 {
    border: 1px solid rgb(4, 2, 2);
    width: 100%
}

#table1 th, #table1 td {
    border-style: inset;
    border-radius: 5%;
    background-color:rgb(123, 118, 136);
    text-align: center;
}

#table2 {
    width: 90%;
}

#table2 th, #table2 td {
    border-style: dashed;
    text-align: left;
}

#table2 th {
    background-color: rgba(167, 157, 29, 0.4);
}

#table2 tr:nth-child(even) {
    background-color: rgba(2, 53, 53, 0.4);
}

#table2 tr:nth-child(odd) {
    background-color: rgba(189, 42, 42, 0.4);
}

/*------Calculator*/

.calculation {
    color: rgb(0, 0, 0);
    font-size: 4vw;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
}

.calculator-button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 20px;
}

.gray-button {
    background-color: rgb(51, 51, 51);
    color: white;
}

.orange-button {
    background-color: rgb(254, 160, 10);
    color: white;
}

.clear-button {
    font-size: 14px;
}
.converted-amount {
    font-size: 16px;
}

.converter-button {
    font-size: 14px;
    padding: 10px 15px;
}

.currency-select-wrapper {
    display: flex;
    align-items: center;
}

.currency-select {
    height: 3.6vw;
    font-size: 1.6vw;
    padding: 0.6vw;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgb(30, 144, 255);
}

.converter-button {
    height: 3.6vw;
    font-size: 1.6vw;
    padding: 0.6vw 2.5%;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: rgb(30, 144, 255);
    color: white;
    cursor: pointer;
}

.center-text {
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    /* Adjust the layout for larger screens */
    body {
        width: 100%;
    }
    .wrapper-main {
        width: 100%; 
        margin: 0 auto; 
    }
}

/* Add CSS rules for tablets and smaller desktop screens */
@media only screen and (max-width: 1023px) {
    /* Adjust the layout for smaller screens */
    img {
        display: none;
    }
    .section1, .section2 {
        width:100%;
    }
    .aside2 {
        width:100%;
        text-align: center;
    }
    footer address {
        width:100%;
        margin: 0px;
        text-align: center;
    }
    main {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    #link {
        font-size: medium;
    }
}

/* mobile devices */
@media only screen and (max-width: 767px) {
    /* Adjust the layout for mobile screens */
    body {
        width: 100%;
    }
    .wrapper-main {
        width: 100%; 
        margin: 0 auto; 
    }
}
