body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    width: auto;
    background-color: azure;
    margin: 0px;
    padding: 0px;
}

header {
    color: cornsilk;
    font-size: xx-large;
    background-color: cadetblue;
    text-align: center;
    padding: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #8a4f4f;
    font-family: Arial;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #aa1e1e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

img {
    width: 30%;
    float: right;
}

.jobInfo {
    font-size: xx-large;
    color: crimson;
}

#link {
    font-size: x-large;
    color: blue;
}

h1 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

table {
    width: 50%;
    border-collapse: collapse;
    display: inline-block;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 200px;
}

th {
    background-color: #d1bbd8;
}

footer {
    margin-bottom: 50px;
}

.header {
    display: inline-block;
}

section {
    padding: 50px;
}

section,
aside {
    margin: 0;
    padding: 0;
}

.section1,
.section2 {
    background-color: #d1bbd8;
    /*width: auto;*/
    height: 300px;
    overflow: auto;
    margin-top: 20px;
    width: 55%;
    float: left;
}

.aside1,
.aside2 {
    width: 40%;
    float: right;
}

img {
    width: 600px;
    height: 300px;
    margin-top: 20px;
}

footer {
    clear: both;
    border-top: 2px solid black;
    padding-top: .7em;
    margin-bottom: 50px;
}

footer address {
    font-size: 80%;
    text-align: right;
    margin-left: 600px;
}
@media screen  and (max-width:540px){
    img {
        display: none;
    }
    .section1 {
        width:100%;
    }
    .section2 {
        width:100%;
    }
    .aside2 {
        width:100%;
        text-align: center;
    }
    footer address{
        width:100%;
        margin: 0px;
        text-align: center;
    }
    main {
        margin-left: 15px;
        margin-right: 15px;
    }
    #link {
        font-size: medium;
    }
    .jobInfo {
        font-size: large;
    }
}
@media screen and (min-width:768px){
    .section1 {
        width: 48%;
        margin-left: 15px;
    }
    .section2 {
        width: 48%;
        margin-left: 15px;
    }
    .aside1 {
        width: 48%;
        margin-right: 15px;
    }
    .aside2 {
        width: 48%;
        margin-right: 15px;
    }
    img {
        width: 100%;
    }
    h3 {
        margin-left: 15px;
        margin-right: 15px;
    }
    p {
        margin-left: 15px;
        margin-right: 15px;
    }
    footer address {
        margin-right: 15px;
        margin-left: 0px;
    }
    #link {
        font-size: medium;
    }
    .jobInfo {
        font-size: large;    
    }
}