/* Body and Header setting */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    animation: change 10s infinite;
}

@keyframes change {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: green;}
    75%  {background-color: blue;}
    100% {background-color: purple;}
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #242121;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Container for body word */
.container {
    max-width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 12px;
    border: 5px double rgb(27, 27, 32);
    position: relative;
    bottom: -100px;
    line-height: 30px;
    font-size: 20px;
}

h1, h2 {
    color: #ac5656;
    text-align: center;
}

.container hr {
    border: 0;
    height: 1px;
    background: #c2c2c2;
    margin: 5px;
}

.container span {
    display: block;
    width: 40px;
    margin: auto;
    background: #fff;
    font-size: 16px;
    margin-top: -20px;
}

p {
    line-height: 1.4;
    color: #494242;
    font-size: 15px;
}

.input-box {
    margin-top: 40px;
    margin-bottom: 30px;
}

.input-box input {
    border-radius: 30px;
    text-align: center;
    height: 50px;
    width: 85%;
    background-position: left 6px center;
    /* Align image to the left */
    background-repeat: no-repeat;
    background-size: 50px;
}

.btn {
    padding: 2% 5%;
    height: 8%;
    width: 50%;
    font-size: 2vw;
    margin-bottom: 5%;
    margin-top: 2%;
    border: none;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    border-radius: 2vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .btn {
        font-size: 4vw;
    }
}

.agree {
    margin-bottom: 25px;
    margin-top: 5px;
    font-size: 18px;
}

.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-box button {
    width: 100%;
    padding: 10px 0;
    display: flex;
    margin: 20px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.login-box button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.login-box button:hover {
    background-color: grey;
}
