/* Navigation bar container */
.navbar {
  overflow: hidden;
  background-color: #8a4f4f;
  font-family: Arial;
  display: flex; 
  justify-content: center; 
}

/* Links inside the navbar */
.navbar a, .dropdown .dropbtn, .SignIn, .SignUp {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: inherit;
  border: none;
  outline: none;
}

/* Dropdown container */
.dropdown {
  float: left;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Background color for navbar links and dropdown button on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Background color for dropdown links on hover */
.dropdown-content a:hover {
  background-color: #aa1e1e;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .navbar a, .dropdown .dropbtn, .SignIn, .SignUp {
    padding: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .navbar a, .dropdown .dropbtn, .SignIn, .SignUp {
    padding: 8px;
    font-size: 12px;
  }
}
